{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <section id="about-us">
        <section class="hero-section">
            <div class="hero-content">
                <h1>Track Your Fitness Goals</h1>
                <p>Your personal fitness and calorie tracking app designed to help you stay on track.</p>

            </div>
            <div class="hero-image">
                <img src="{% static 'media/common/png1.png' %}" alt="Fitness Hero Image">
            </div>
        </section>
    </section>
{% endblock %}