{% extends 'common/base.html' %}
{% block content %}
    <body>
    <div class="dashboard">
        <header class="header">
            <div class="header-info">
                <h1>Calories Remaining</h1>
                <div class="calories">
                    <span class="goal">{{ profile.calories_goal }}</span>
                    <span>-</span>
                    <span class="food">{{ total_food_calories }}</span>
                    <span>=</span>
                    <span class="remaining">{{ remaining_calories}}</span>
                </div>
                <div class="header-info">
                    <span class="goal">{{ water.water }} ml Water </span>
                </div>
                <div class="header-info">
                    <span class="goal">{{ steps.steps }} Steps</span>
                </div>
                <div class="header-info">
                    <span class="goal">{{ sleep.hours }}:{{ sleep.minutes }} Hours of sleep</span>
                </div>
            </div>
            <a href="{% url 'profile-edit' %}" style="text-decoration: none; color: inherit;">
                <p>Edit Calories</p>
            </a>
            <a href="{% url 'edit-water' water.id %}" style="text-decoration: none; color: inherit;">
                <p>Edit Water</p>
            </a>
            <a href="{% url 'edit-steps' steps.id %}" style="text-decoration: none; color: inherit;">
                <p>Edit Steps</p>
            </a>
            <a href="{% url 'edit-sleep' sleep.id %}" style="text-decoration: none; color: inherit;">
                <p>Edit Sleep</p>
            </a>
        </header>

        <main>
            <section class="meal">
                <h2>Breakfast</h2>
                <ul>
                    {% for food in foods %}
                        {% if food.meal_type == 'breakfast' %}
                            <li>
                                <a href="{% url 'details-food' food.id %}"
                                   class="food-item">{{ food.name }}</a>, {{ food.serving_size }}g
                                <span class="food-item">{{ food.carbs }} carbs</span>
                                <span class="food-item">{{ food.proteins }} proteins</span>
                                <span class="food-item">{{ food.fats }} fats</span>
                                <span class="calories">{{ food.calories }} calories</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <a href="{% url 'create-food' %}" class="add-food-button">Add Food</a>
            </section>

            <section class="meal">
                <h2>Lunch</h2>
                <ul>
                    {% for food in foods %}
                        {% if food.meal_type == 'lunch' %}
                            <li>
                                <a href="{% url 'details-food' food.id %}"
                                   class="food-item">{{ food.name }}</a>, {{ food.serving_size }}g
                                <span class="food-item">{{ food.carbs }} carbs</span>
                                <span class="food-item">{{ food.proteins }} proteins</span>
                                <span class="food-item">{{ food.fats }} fats</span>
                                <span class="calories">{{ food.calories }} calories</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <a href="{% url 'create-food' %}" class="add-food-button">Add Food</a>
            </section>

            <section class="meal">
                <h2>Dinner</h2>
                <ul>
                    {% for food in foods %}
                        {% if food.meal_type == 'dinner' %}
                            <li>
                                <a href="{% url 'details-food' food.id %}"
                                   class="food-item">{{ food.name }}</a>, {{ food.serving_size }}g
                                <span class="food-item">{{ food.carbs }} carbs</span>
                                <span class="food-item">{{ food.proteins }} proteins</span>
                                <span class="food-item">{{ food.fats }} fats</span>
                                <span class="calories">{{ food.calories }} calories</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <a href="{% url 'create-food' %}" class="add-food-button">Add Food</a>
            </section>
        </main>
    </div>
    </body>
{% endblock %}